{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "env": {
    "targets": {
      "node": "19"
    }
  },
  "module": {
    "type": "commonjs"
  }
}
